@import "tailwindcss";

* {
  box-sizing : border-box;
}

html, body, #root {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root { 
  max-width: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}